#app {
  background-color: #f5f5f5;
  width: 80%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
}
